<html>
  <head>
    <title><%= title%></title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&family=Coda&family=PT+Mono&family=Rampart+One&family=Rubik:wght@700&family=Ruslan+Display&family=Signika+Negative:wght@600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/employee.css" />
    <link rel="stylesheet" href="/css/empProfile.css" />
    <link rel="stylesheet" href="/css/performance.css" />
    <link rel="stylesheet" href="/css/displayrvw.css" />
    <link rel="stylesheet" href="/css/feedback.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/addEmployee.css" />
    <link rel="stylesheet" href="/css/displayPerf(admin).css" />
    <link rel="stylesheet" href="/css/EmpList(admin).css" />
    <link rel="stylesheet" href="/css/listReviews.css" />

    <%- style %>
  </head>
  <body>
    <%- include('_header')%>
    <main id="layout-m"><%- body%></main>
    <%- script %>
  </body>
</html>
